<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#322a0e;">
    <div class="container">
      <a class="navbar-brand" href="/home" style="font-weight: bold; font-size: 1.8rem; color: #ffffff;">
        <i class="ri-user-line"></i> Ahmed Bourazza
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home" style="font-size: 1.1rem; color: #ffffff;">
              <i class="ri-home-line"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adresses" style="font-size: 1.1rem; color: #ffffff;">
              <i class="ri-map-pin-line"></i> Liste des adresses
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adresse" style="font-size: 1.1rem; color: #ffffff;">
              <i class="ri-cloud-line"></i> Recherche de méteo
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
